<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" parallel="methods">
  	<classes>
  		<class name="TestNGExample.AlltestNGMethod" />
  		<class name="Example.DummyClass" />
  		<class name="com.sellabs.testexecutor.TestMainClass" />
  		<class name="TestNGExample.ParallelTest" />
  		<class name="TestNGExample.TestAlert" />
  		<class name="DataProvider.PNCDataPrivider" />
  	</classes>
  </test><!-- Test -->
</suite> <!-- Suite -->
